<div class="container">
<h1 class="text-center">Bienvenido a el recurso de pins</h1>
<p id="notice"><%= notice %></p>

    <% @pins.each do |pin| %>
    <div class="cold-md-3">
      <div class="thumbnail">
       <%= pin.description %>&nbsp;&nbsp;&nbsp;
        <%= image_tag("pin.photo", :class => 'img-responsive') %>

        <div class="text-center">
        <%= link_to 'Show', pin %> &nbsp;
        <%= link_to 'Edit', edit_pin_path(pin) %> &nbsp;
        <% if user_signed_in? %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
   </div>
    <% end %>


<br>
<% if user_signed_in? %>
   <%= link_to 'New Pin', new_pin_path %>
<% end %>
</div>
